
<nav class="container-lg px-3" role="navigation">
  <ul>
    <li>
      <a href="{{ site.baseurl | append:'/feed.xml' }}" rel="subscribe-rss" title="Suscríbete vía RSS">
        <img src="{{ site.baseurl | append:'/assets/images/rss-logo.svg' }}"
             class="rss-logo"/>
      </a>
    </li>
    <li>|</li>
    <li><a href="{{ site.baseurl | append:'/about' }}">Sobre mí</a></li>
    <li>|</li>
    <li><a href="{{ site.baseurl | append:'/readings' }}">Lista de lectura</a></li>
    <li>|</li>
    <li><a href="{{ site.baseurl }}/">Blog</a></li>
  </ul>
</nav>
