version: '3'

services:
  # a container to serve the blog
  blog:
    image: jekyll/jekyll   # build from latest jekyll
    container_name: blog
    ports:
      - 4000:4000
    volumes:
      - ..:/srv/jekyll      # share local source files with the container
      - ../vendor/bundle:/usr/local/bundle     # cache ruby gems

    entrypoint: jekyll serve --watch --incremental --force_polling
